/* -----------搜索框 -----------------*/
#search-bar {
	padding-top: 40px;
	/* border: 2px solid #fda72c; */
}

#search-bar>input {
	border-radius: 0;
}

#search-bar button {
	border-radius: 0;
	background-color: #fda72c;
}
/* 头部登录信息区 ------------*/
#login_info {
	padding-top: 50px;
	padding-bottom: 30px;
}

#login_info>a{
	margin-right: 20px;
}
#login_info>span{
	margin-left: 30px;
}

#login_info>a:nth-child(1) {
	color: #fda72c;
	margin:0 50px 0 50px;
}

/* 横线 分割线 ------------*/
.specialty {
	border-bottom: 2px solid #fda72c;
	margin-bottom: 10px;
}

/* 首页每一个特色菜缩略图 ------------*/
#cuisine-list{
	cursor:pointer;
}
#cuisine-list .description-info{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient: vertical;
}

/*页脚---------*/
footer {
	margin-top: 50px;
}


/* 验证码 */
.check_code{
	margin-top: 10px;
	display: inline-block;
}

/*价格字体*/
.price-font{
	font-size: 26px;
	color: red;
	font-weight: bold;
	margin-top: 25px;
}

/*每一个列表项*/
.list-item{
	border: 1px solid #fda72c;
	margin-bottom: 10px;
}
